.services-item-text {
  font-family: "Dosis-Regular";
  font-weight: 400;
}

.call-btn, .call-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.footer-back-to-top-inner .back-to-top, .quotes-slider .quote, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.footer-bottom-title, .news-item-text, .project-item-link, .services-item-link, .services-item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
.services-item-text {
  font-family: "Dosis-Regular";
  font-weight: 400;
}

.call-btn, .call-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.footer-back-to-top-inner .back-to-top, .quotes-slider .quote, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.footer-bottom-title, .news-item-text, .project-item-link, .services-item-link, .services-item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9b9b9b;
}

.container {
  padding: 0 20px;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 28px;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2b4074;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
}
.header {
  background-color: #2b4074;
}
.header-inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .header-inner {
    min-height: 100px;
  }
}
.logo-link {
  margin-left: 8px;
}

@media screen and (min-width: 640px) {
  .logo-link {
    margin-left: 14px;
  }
}
@media screen and (min-width: 768px) {
  .logo-link {
    margin-left: 0px;
  }
}
.menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.menu-btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  position: absolute;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}

@media screen and (min-width: 1440px) {
  .menu-btn {
    margin-right: 90px;
  }
}
.hero {
  background-image: url("../images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

@media screen and (min-width: 640px) {
  .hero {
    min-height: 386px;
  }
}
.hero-slider {
  background: rgba(33, 33, 33, 0.5);
}
.hero-slider-item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}
.hero-slider-title {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 36px 0 28px;
  margin: 0 auto;
  max-width: 243px;
  position: relative;
}
.hero-slider-title::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  background-color: #4a4a4a;
  margin: 0 auto;
}
.hero-slider-text {
  display: none;
}
.hero-slider-btn {
  display: none;
}
.hero-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.hero-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.hero-slider .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: #2b4074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

@media screen and (min-width: 640px) {
  .hero-slider-item {
    min-height: 465px;
  }
  .hero-slider-title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .hero-slider-btn {
    display: block;
    margin: 0 auto 113px;
    border: none;
    border-radius: 3px;
    background-color: #2b4074;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #f9f6e5;
    text-transform: uppercase;
    padding: 16px 45px;
  }
  .hero-slider .slick-dots {
    bottom: 50px;
  }
  .hero-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .hero-slider .slick-prev {
    background-color: #2b4074;
    top: calc(50% - 56px);
  }
  .hero-slider .slick-next {
    background-color: #f9f6e5;
    bottom: calc(50% - 56px);
  }
}
@media screen and (min-width: 768px) {
  .hero-slider-item {
    min-height: 386px;
  }
  .hero-slider-title {
    max-width: 587px;
    padding: 87px 0 0;
    margin: 0 auto;
  }
  .hero-slider-title::after {
    display: none;
  }
  .hero-slider-text {
    display: block;
    max-width: 587px;
    padding: 25px 0 32px;
    margin: 0 auto;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-slider-item {
    min-height: 618px;
  }
  .hero-slider-title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .hero-slider .slick-dots {
    bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-slider-item {
    min-height: 668px;
  }
  .hero-slider-title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .hero-slider-text {
    font-size: 24px;
    line-height: 26px;
    min-width: 886px;
  }
  .hero-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .hero-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .hero-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}
.call {
  background-color: #2b4074;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.call-title {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
}
.call-text {
  margin-bottom: 40px;
}
.call-btn {
  padding: 16px 15px;
  text-transform: uppercase;
  background-color: #f9f6e5;
  border: none;
  border-radius: 3px;
  color: #2b4074;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call-box {
    max-width: 427px;
  }
  .call-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .call-box {
    max-width: 695px;
  }
}
@media screen and (min-width: 1440px) {
  .call-inner {
    padding: 0 80px;
  }
  .call-box {
    max-width: 796px;
  }
}
.services {
  padding: 25px 0 40px;
  text-align: center;
}
.services-title {
  margin-bottom: 47px;
  color: #2b4074;
}
.services-descr {
  font-size: 20px;
  line-height: 22px;
  color: #4a4a4a;
  margin-bottom: 21px;
}
.services-text {
  font-size: 15px;
  line-height: 17px;
  color: #797979;
  margin-bottom: 40px;
}
.services-item {
  min-height: 310px;
  border: 1px solid #f9f6e5;
  border-bottom: none;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-item:last-child {
  border-bottom: 1px solid #f9f6e5;
}
.services-item:hover .services-item-text,
.services-item:hover .services-item-link {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.services-item:hover .services-item-img {
  margin-bottom: 14px;
}
.services-item:hover .services-item-title {
  margin-bottom: 30px;
}
.services-item:hover .services-item-inner {
  border: 4px solid #2b4074;
  margin: 18px 0;
  padding: 25px 20px 5px;
  min-height: 277px;
}
.services-item-inner {
  transition: all 0.5s;
}
.services-item-img {
  margin-bottom: 30px;
}
.services-item-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-transform: uppercase;
}
.services-item-text, .services-item-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.services-item-text {
  margin-bottom: 17px;
}
.services-item-link {
  letter-spacing: 2px;
  color: #2b4074;
  text-transform: uppercase;
}

@media screen and (min-width: 640px) {
  .services {
    padding: 24px 0 0;
  }
  .services-title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services-title::after {
    display: none;
  }
  .services-descr {
    font-size: 24px;
    padding-bottom: 38px;
    margin-bottom: 31px;
    position: relative;
  }
  .services-descr::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #2b4074;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .services-text {
    font-size: 18px;
    line-height: 24px;
  }
  .services-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services-item {
    width: 50%;
  }
  .services-item:nth-child(even) {
    border-left: none;
  }
  .services-item:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .services {
    padding: 50px 0 0;
  }
  .services-title {
    margin-bottom: 30px;
  }
  .services-descr {
    text-align: left;
  }
  .services-descr::after {
    margin-left: 0;
  }
  .services-text {
    text-align: left;
    margin-bottom: 27px;
  }
  .services-items {
    margin: 0 -40px;
  }
  .services-item {
    padding: 0 65px;
    min-height: 334px;
  }
  .services-item:hover .services-item-inner {
    padding: 35px 60px 5px;
    min-height: 288px;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
  }
  .services-title {
    margin-bottom: 60px;
  }
  .services-descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services-text {
    max-width: 608px;
    margin-bottom: 32px;
  }
  .services-item {
    width: 25%;
    padding: 0 17px;
    min-height: 277px;
  }
  .services-item:nth-child(2), .services-item:nth-child(6) {
    border-right: none;
  }
  .services-item:hover .services-item-inner {
    margin: 10px 0;
    padding: 21px 9px 5px;
    min-height: 255px;
  }
}
@media screen and (min-width: 1440px) {
  .services {
    padding: 0;
  }
  .services-inner {
    display: flex;
    justify-content: space-between;
  }
  .services-head {
    max-width: 350px;
    margin-right: 100px;
  }
  .services-title {
    text-align: left;
    margin: 90px 0 70px;
  }
  .services-descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services-items {
    margin: 0 -101px 0 0;
  }
  .services-item {
    width: 230px;
    padding: 0 5px;
    height: 273px;
  }
  .services-item:hover {
    padding: 0 5px;
  }
  .services-item:hover .services-item-inner {
    margin: 5px 0;
    padding: 10px 3px 5px;
    min-height: 255px;
  }
}
.project {
  padding: 20px 0 20px;
  text-align: center;
  background: linear-gradient(180deg, #2b4074 0%, rgba(255, 255, 255, 0) 100%);
}
.project-title {
  color: #fff;
  margin-bottom: 40px;
}
.project-title::after {
  background-color: #fff;
}
.project-item-img {
  min-height: 250px;
  width: 280px;
  margin: 0 auto;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 12px 14px;
}
.project-item-img:hover .project-item-inner {
  opacity: 1;
}
.project-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(249, 246, 229, 0.834888);
  min-height: 228px;
  transition: all 0.5s;
  opacity: 0;
}
.project-item-info, .project-item-search {
  margin: 0 7px;
}
.project-item-link {
  display: block;
  padding: 20px 0;
  letter-spacing: 2px;
  line-height: 19px;
  color: #2b4074;
}

@media screen and (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
  }
  .project-item-img {
    min-height: 460px;
    width: 518px;
    padding: 21px 24px;
  }
  .project-item-inner {
    min-height: 418px;
  }
  .project-item-link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media screen and (min-width: 768px) {
  .project {
    padding: 80px 0 60px;
  }
  .project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-item-img {
    min-height: 283px;
    width: 317px;
    padding: 12px 14px;
  }
  .project-item-inner {
    min-height: 256px;
  }
  .project-item-link {
    padding: 30px 0;
    font-size: 20px;
    line-height: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .project-items {
    justify-content: center;
  }
  .project-item-img {
    margin: 0 12px;
  }
}
@media screen and (min-width: 1440px) {
  .project-items {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .project-item-img {
    min-height: 268px;
    width: 300px;
    margin: 0;
  }
}
.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team-images {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}
.team-title {
  color: #4a4a4a;
  margin-bottom: 23px;
}
.team-text {
  margin-bottom: 84px;
}
.team-btn {
  border: none;
  background-color: #2b4074;
  color: #f9f6e5;
  font-weight: 500;
  text-transform: uppercase;
  padding: 21px 26px;
  border-radius: 3px;
}

@media screen and (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
  }
  .team-images {
    margin-bottom: 40px;
  }
  .team-title {
    margin-bottom: 40px;
  }
  .team-text {
    margin-bottom: 56px;
  }
  .team-btn {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team-inner {
    display: flex;
  }
  .team-images {
    width: 240px;
    height: 100%;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .team-title {
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 28px;
    margin-bottom: 7px;
  }
  .team-title::after {
    margin-left: 0;
  }
  .team-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .team-btn {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team-images {
    width: 401px;
    margin-right: 60px;
  }
  .team-title {
    margin-top: 20px;
    margin-bottom: 19px;
  }
  .team-text {
    line-height: 24px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .team {
    padding: 50px 0 110px;
  }
  .team-images {
    width: 460px;
    margin-right: 100px;
  }
  .team-title {
    margin-top: 0;
    margin-bottom: 39px;
  }
  .team-text {
    width: 553px;
    margin-bottom: 39px;
  }
}
.news {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  background-color: #f9f6e5;
}
.news-title {
  color: #4a4a4a;
  margin-bottom: 40px;
}
.news-items {
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 444px 343px 386px 211px 198px 343px 218px 439px;
  justify-content: center;
  gap: 20px;
}
.news-item {
  width: 270px;
  background-color: #2b4074;
  border-radius: 4px;
  position: relative;
}
.news-item-img:hover .news-item-inner {
  opacity: 1;
}
.news-item-img:hover .news-item-text {
  color: #f9f6e5;
  background-color: #2b4074;
  opacity: 1;
  z-index: 5;
  bottom: 30px;
}
.news-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.news-item-text {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.11em;
  color: #4a4a4a;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
.news-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(43, 64, 116, 0.3);
  border: 10px solid #2b4074;
  transition: all 0.5s;
  opacity: 0;
}

@media screen and (min-width: 640px) {
  .news {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 40px;
  }
  .news-title {
    padding-top: 40px;
    margin-bottom: 60px;
  }
  .news-items {
    grid-template-columns: 270px 270px;
    grid-template-rows: 343px 71px 110px 198px 19px 169px 144px 295px;
    justify-content: center;
    gap: 30px;
  }
  .news-item-1 {
    grid-row: 1/3;
  }
  .news-item-3 {
    grid-row: 3/6;
  }
  .news-item-4 {
    grid-row: -8/-6;
  }
  .news-item-6 {
    grid-row: 6/8;
  }
  .news-item-7 {
    grid-row: -5/-3;
  }
  .news-item-8 {
    grid-row: -3/-1;
  }
}
@media screen and (min-width: 768px) {
  .news-title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .news {
    padding-bottom: 80px;
  }
  .news-title {
    padding-top: 65px;
    margin-bottom: 96px;
  }
  .news-items {
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 343px 13px 28px 96px 83px 45px 100px 118px;
  }
  .news-item-1 {
    grid-row: 1/4;
  }
  .news-item-2 {
    grid-column: 2/3;
    grid-row: 1;
  }
  .news-item-3 {
    grid-column: 3/4;
    grid-row: -9/-7;
  }
  .news-item-4 {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .news-item-5 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .news-item-6 {
    grid-column: 3/4;
    grid-row: -7/-3;
  }
  .news-item-7 {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  .news-item-8 {
    grid-column: 2/3;
    grid-row: 5/9;
  }
}
@media screen and (min-width: 1440px) {
  .news-title {
    padding-top: 62px;
    margin-bottom: 142px;
  }
  .news-items {
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 210px 102px 11px 30px 160px 10px 10px;
  }
  .news-item-1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .news-item-2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .news-item-3 {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .news-item-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .news-item-5 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  .news-item-6 {
    grid-column: 2/3;
    grid-row: 3/8;
  }
  .news-item-7 {
    grid-column: 3/4;
    grid-row: 4/6;
  }
  .news-item-8 {
    grid-column: 4/5;
    grid-row: 2/7;
  }
}
.quotes-slider {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 20px;
}
.quotes-slider .quotes-item {
  padding-top: 114px;
  padding-bottom: 50px;
  max-width: 275px;
  background-image: url(../images/quote.png);
  background-repeat: no-repeat;
  background-size: 32px 26px;
  background-position: top 53px center;
}
.quotes-slider .quote {
  font-size: 24px;
  line-height: 1.08333;
  color: #4a4a4a;
  text-align: center;
  margin: 0;
}
.quotes-slider .quote-text-inner {
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.quotes-slider .quote-item-text {
  margin-bottom: 20px;
}
.quotes-slider .quote-text-accent {
  font-weight: 700;
  color: #2b4074;
}
.quotes-slider .quote-footer {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.quotes-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.quotes-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.quotes-slider .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: #2b4074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

@media screen and (min-width: 640px) {
  .quotes-slider {
    max-width: 640px;
    padding-left: 53px;
    padding-right: 35px;
  }
  .quotes-slider .quotes-item {
    max-width: 552px;
  }
  .quotes-slider .quote {
    font-size: 32px;
    line-height: 1.0633;
  }
  .quotes-slider .quote-text-inner {
    min-height: 138px;
  }
  .quotes-slider .quote-item-text {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .quotes-slider {
    max-width: 770px;
    padding-left: 41px;
    padding-right: 42px;
  }
  .quotes-slider .quotes-item {
    max-width: 687px;
  }
}
@media screen and (min-width: 1024px) {
  .quotes-slider {
    max-width: 1026px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 80px;
  }
  .quotes-slider .quotes-item {
    max-width: 1024px;
    padding-top: 158px;
    padding-bottom: 90px;
    background-position: top 100px center;
  }
  .quote-text-inner {
    min-height: 79px;
  }
  .quote-item-text {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .quotes-slider {
    max-width: 1443px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .quotes-slider .quotes-item {
    max-width: 1443px;
    padding-top: 144px;
  }
  .quote-text-inner {
    min-height: 108px;
  }
  .quote-item-text {
    margin-bottom: 30px;
  }
}
.footer {
  margin-top: 85px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #2b4074;
}
.footer-inner {
  margin: 0 auto;
  position: relative;
  max-width: 280px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 230px;
  height: 60px;
  margin-top: -30px;
  margin-bottom: 55px;
  background-color: #2b4074;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  width: 274px;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  margin-bottom: 43px;
}
.footer-social {
  text-align: center;
  margin-bottom: 40px;
}
.footer-social-item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-bottom {
  text-align: center;
  padding-bottom: 23px;
}
.footer-bottom-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.11em;
  color: #f9f6e5;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-contacts {
  margin-bottom: 41px;
}
.footer-address {
  margin-bottom: 36px;
}
.footer-help {
  margin-bottom: 54px;
}
.footer address {
  font-style: normal;
}
.footer a {
  display: block;
}

.footer-back-to-top-inner {
  background-color: #fff;
  max-width: 320px;
  margin: 0 auto;
}
.footer-back-to-top-inner .back-to-top {
  max-width: 280px;
  margin-top: 56px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  letter-spacing: 0.12em;
  line-height: 24px;
  text-align: center;
  color: #4a4a4a;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .footer {
    margin-top: 90px;
  }
  .footer-inner {
    max-width: 636px;
  }
  .footer-text {
    width: 547px;
    font-size: 24px;
    line-height: 1.08333;
    letter-spacing: 0.08em;
    text-align: left;
    margin-bottom: 40px;
  }
  .footer-social {
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #7ebf84;
    border-bottom: 1px solid #7ebf84;
  }
  .footer-social-item {
    min-height: 57px;
    border-right: 1px solid #7ebf84;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-social-item:nth-child(1) {
    width: 143px;
  }
  .footer-social-item:nth-child(2) {
    width: 142px;
  }
  .footer-social-item:nth-child(3) {
    width: 132px;
  }
  .footer-social-item:nth-child(4) {
    width: 153px;
    border-right: none;
  }
  .footer-social-item:not(:last-child) {
    margin-bottom: 0;
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 157px;
         column-gap: 157px;
    row-gap: 28px;
    text-align: left;
    padding-bottom: 0;
  }
  .footer-bottom-title {
    margin-bottom: 22px;
  }
  .footer-contacts, .footer-address, .footer-help, .footer-menu {
    width: 194px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 640px) {
  .footer-back-to-top-inner {
    max-width: 640px;
    padding: 7px 14px 5px;
  }
  .footer-back-to-top-inner .back-to-top {
    max-width: 143px;
    margin: 0 0 0 auto;
    padding: 6px 0 6px 44px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 23px;
  }
}/*# sourceMappingURL=style.css.map */